<div class="page">
  <nav class="menu">
    <ul class="menu__list">
      <!--Adicionar photo de perfil.-->
      <li class="menu__group"><img id="perfilphoto" src="/image/batman_hero_avatar_comics-512.png" alt="some text"></li>
      <li class="menu__group"><a class="menu__link">{{username}}</a></li>
      <li class="menu__group"><a href='{{username}}/games' class="menu__link">Meus jogos</a></li>
      <li class="menu__group"><a href="/games" class="menu__link">Adicionar jogos</a></li>
      <li class="menu__group"><a href="{{username}}/friends" class="menu__link">Meus amigos</a></li>
      <li class="menu__group"><a href="/friends" class="menu__link">adicionar amigos</a></li>
      <li class="menu__group"><a href="/logout" class="menu__link">logout</a></li>
    </ul>
  </nav>
</div>
<div class="bodyuser">

  <h1>Olá, {{username}}</h1>

</div>






























<!-- <a href="{{username}}/games">meus jogos</a>
<a href="/games">adicionar jogos</a>
<a href="{{username}}/friends">meus amigos</a>
<a href="/friends">adicionar amigos</a> -->

