<div class="page">
  <nav class="menu">
    <ul class="menu__list">
      <!--Adicionar photo de perfil.-->
      <li class="menu__group"><img id="perfilphoto" src="/image/batman_hero_avatar_comics-512.png" alt="some text"></li>
      <li class="menu__group"><a href="#" class="menu__link username">{{resObj.username}}</a href="#"></li>
      <li class="menu__group"><a href='./games' class="menu__link">Meus jogos</a></li>
      <li class="menu__group"><a href="/find-games" class="menu__link">Adicionar jogos</a></li>
      <li class="menu__group"><a href="./friends" class="menu__link">Meus amigos</a></li>
      <li class="menu__group"><a href="/find-friends" class="menu__link">adicionar amigos</a></li>
      <li class="menu__group"><a href="/logout" class="menu__link">logout</a></li>
    </ul>
  </nav>




  {{!-- </div>
<div class="bodyuser">
 <div class="container">
    <div class="row mb-5"> 
      {{resObj.username}}
      {{#each resObj.games}} 
      <div class="col-md-4">
        <div class="card text-center mb-3">
          <img class="card-img-top" src="{{img_url}}" alt="Card image game">
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            {{#each platforms}}
            <p class="card-text">{{name}}</p>
            {{/each}}
            <button type="submit">
              <a href="./games/{{_id}}/edit">edit info</a>
            </button>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div> --}}

  <div class="bodyusercards">
    {{#each resObj.gamePrefs}}
    <div class="card mb-3 border border-dark rounded" style="max-width: 80%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{gameId.img_url}}" class="card-img" alt="teste">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{gameId.name}}</h5>
            {{#each gameId.platforms}}
            <p class="card-text">
              textao estava aqui, mas melhor colocar em outro lugar
            </p>
            <p class="card-text"><small class="text-muted">{{name}}</small></p>
            {{/each}}
            <p class="card-text">{{commitment}}</p>
            <p class="card-text">{{schedule}}</p>
            <p class="card-text">{{moreInfo}} ==> novo textao</p>
            <button class="btn btn-light" type="submit">
              <a href="./games/{{_id}}/edit">edit</a>
            </button>
            <button class="btn btn-danger" type="submit">
              <a href="/{{@root.resObj.username}}/games/{{_id}}/delete">delete</a>
            </button>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>